[submodule "Core/Externals/DTLoupe"]
	path = Core/Externals/DTLoupe
	url = https://github.com/Cocoanetics/DTLoupe.git
[submodule "Core/Externals/DTCoreText"]
	path = Core/Externals/DTCoreText
	url = https://github.com/Cocoanetics/DTCoreText.git
[submodule "Core/Externals/DTWebArchive"]
	path = Core/Externals/DTWebArchive
	url = https://github.com/Cocoanetics/DTWebArchive.git
